*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.code-wrapper{
    flex: 1;
    height: 50%;
    margin: 5px;
}
.preview-wrapper{
    flex: 1;
    height:50%;
    margin: 5px;
}
#code{
    overflow: auto;
    height: 100%;
}